<h1>Create A New Movie</h1>

<form action="<% movies_path %>" method="POST">
    title: <input placeholder="title" type="text" name="title" />
    <br>
    duration: <input placeholder="duration" type="number" name="duration" />
    <br>
    <button type="submit">Submit</button>
</form>